<html>
    <head>
        <title>Census - Population & Marriage </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    </head>
    <body>
        <h1>Census</h1>
        <p> Population & Marriage - Ireland 2011, 2016, 2022</p>
        <div><button id="button-showCreate" onclick="showCreate()"> Add to Database</button><br/><br/></div>
        <div>
            <table class="table table-striped" id="dataTable">
                <tr>
                        <th> id </th>
                        <th> Census Year </th>
                        <th> Location </th>
                        <th> Marital Status </th>
                        <th> Gender </th>
                        <th> Population </th>
                        <th> Update </th>
                        <th> Delete </th>
                </tr>
                <tr id="1">
                    <td>1</td>
                    <td> 2024 </td>
                    <td> Jupiter </td>
                    <td> Single Forever </td>
                    <td> Non Determined </td>
                    <td> 100000 </td>
                    <td><button onclick="showUpdate(this)"> Update </button></td>
                    <td><button onclick="doDelete(this)"> Delete </button></td>
                    

                   
                </tr>

            </table>
        <br/>
        </div>

  
        <div id="createUpdateForm" style="display:none" class="mb-3">
            <!-- spans are like divs but do not go onto a new line -->
            <h2><span id="createLabel">Add an</span> <span id="updateLabel">Update this</span> Entry</h2>
            
            <div class="row mb-3">
                <label  class="col-sm-1 col-form-label">ID</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="id">
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-1 col-form-label">Census Year</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="census_Year">
                </div>
            </div>
                 
            <div class="row mb-3">
                <label  class="col-sm-1 col-form-label">Location</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="location">
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-1 col-form-label">Martial Status</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="marital_Status">
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-1 col-form-label">Gender</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="gender">
                </div>
            </div>

            <div class="row mb-3">
                <label  class="col-sm-1 col-form-label">Population Numbers</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="population">
                </div>
            </div>
           
            <span><button id="button-doCreate" onclick="doCreate()">Create</button></span>
 			<span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>
             <!-- "display:none" will make it hidden-->


        </div>


    </body>
    <script>
        //console.log("hello world")
        function showCreate(){
            document.getElementById("createUpdateForm").style.display = "block"
            
            document.getElementById("button-doCreate").style.display = "block"
            document.getElementById("button-doUpdate").style.display = "none"
            document.getElementById("createLabel").style.display = "inline"
            document.getElementById("updateLabel").style.display = "none"

            document.getElementById("button-showCreate").style.display = "none"
            document.getElementById("dataTable").style.display = "none"
            
        }
        function showUpdate(buttonElement){
            document.getElementById("createUpdateForm").style.display = "block"
           
            document.getElementById("button-doCreate").style.display = "none"
            document.getElementById("button-doUpdate").style.display = "block"
            document.getElementById("createLabel").style.display = "none"
            document.getElementById("updateLabel").style.display = "inline"

            document.getElementById("button-showCreate").style.display = "none"
            document.getElementById("dataTable").style.display = "none"

            rowElement= buttonElement.parentNode.parentNode
            formData = getDataFromRow(rowElement)
            console.log("updating")
            //console.log(book)
            populateForm(formData)
            
        }
        function showViewall(){
            document.getElementById("createUpdateForm").style.display = "none"
           
            document.getElementById("button-showCreate").style.display = "block"
            document.getElementById("dataTable").style.display = "block"
            
        }
        function clearForm(){
            var form = document.getElementById('createUpdateForm')

            form.querySelector('input[name="id"]').disabled = false
            form.querySelector('input[name="id"]').value  =''
            form.querySelector('input[name="census_Year"]').value=''
            form.querySelector('input[name="location"]').value=''
            form.querySelector('input[name="marital_Status"]').value=''
            form.querySelector('input[name="gender"]').value=''
            form.querySelector('input[name="population"]').value=''
        }
        
        function getDataFromForm(){
            var form = document.getElementById('createUpdateForm')

       	    var formData = {}
            formData.id = form.querySelector('input[name="id"]').value
        	formData.census_Year = form.querySelector('input[name="census_Year"]').value
        	formData.location = form.querySelector('input[name="location"]').value
        	formData.marital_Status = form.querySelector('input[name="marital_Status"]').value
            formData.gender = form.querySelector('input[name="gender"]').value
            formData.population = form.querySelector('input[name="population"]').value
        	//console.log(JSON.stringify(book))
            return formData
        }
        function populateForm(formData){
       		var form = document.getElementById('createUpdateForm')
        	form.querySelector('input[name="id"]').disabled = true
       		form.querySelector('input[name="id"]').value  = formData.id
       		form.querySelector('input[name="census_Year"]').value= formData.census_Year
        	form.querySelector('input[name="location"]').value= formData.location
        	form.querySelector('input[name="marital_Status"]').value= formData.marital_Status
            form.querySelector('input[name="gender"]').value= formData.gender
            form.querySelector('input[name="population"]').value= formData.population
    }


        function addToTable(formData){
            var tableElement = document.getElementById('dataTable')
            var rowElement = tableElement.insertRow(-1)
            
            rowElement.setAttribute('id', formData.id)

                    
            Object.keys(formData).forEach(key => {
                var cell = rowElement.insertCell();
                cell.innerHTML = formData[key];
            });

            // Add buttons for Update and Delete
            var cellUpdate = rowElement.insertCell();
            cellUpdate.innerHTML = '<button onclick="showUpdate(this)">Update</button>';

            var cellDelete = rowElement.insertCell();
            cellDelete.innerHTML = '<button onclick="doDelete(this)">Delete</button>';
        }
            


        
        function getDataFromRow(rowElement){
            var formData ={}
            formData.id  = rowElement.cells[0].firstChild.textContent
            formData.census_Year = rowElement.cells[1].firstChild.textContent
            formData.location = rowElement.cells[2].firstChild.textContent
            formData.marital_Status = rowElement.cells[3].firstChild.textContent
            formData.gender = rowElement.cells[4].firstChild.textContent
            formData.population = rowElement.cells[5].firstChild.textContent
            return formData
        }

        function setDataInRow(rowElement, formData){
            rowElement.cells[0].firstChild.textContent= formData.id  
            rowElement.cells[1].firstChild.textContent= formData.census_Year 
            rowElement.cells[2].firstChild.textContent= formData.location
            rowElement.cells[3].firstChild.textContent= formData.marital_Status
            rowElement.cells[4].firstChild.textContent= formData.gender
            rowElement.cells[5].firstChild.textContent= formData.population
    }


        function fetchDataAndDisplay() {
            fetch('/api/population')
                .then(response => response.json())
                .then(data => {
                    console.log('Received data:', data);
                    data.forEach(formData => addToTable(formData));
                })
                .catch(error => console.error('Error:', error));
        }

        // Call the function when the page is loaded
        document.addEventListener('DOMContentLoaded', fetchDataAndDisplay);



    
        function doCreate(){
            console.log("creating a instance")
            formData = getDataFromForm()
            fetch('/api/population', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => response.json())
            .then(data => {
                
                formData.id = data.id;
                addToTable(formData);
                showViewall();
                clearForm();
            })
            .catch(error => console.error('Error:', error));
        }

        
        // Function to update an existing population record
        function doUpdate() {
            var formData = getDataFromForm();
            console.log('Before fetch');

            fetch('/api/population/' + formData.id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                // Assuming the response includes a success message
                if (response.ok) {
                    var rowElement = document.getElementById(formData.id);
                    setDataInRow(rowElement, formData);
                    showViewall();
                    clearForm();
                } else {
                    console.error('Error:', response.statusText);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // Function to delete a population record
        function doDelete(buttonElement) {
            var rowElement = buttonElement.parentNode.parentNode;
            var id = rowElement.cells[0].textContent;
            console.log('Before fetch2');

            fetch('/api/population/' + id, {
                method: 'DELETE',
            })
            .then(response => {
                // Assuming the response includes a success message
                if (response.ok) {
                    var index = rowElement.rowIndex;
                    rowElement.parentNode.deleteRow(index);
                } else {
                    console.error('Error:', response.statusText);
                }
            })
            .catch(error => console.error('Error:', error));
        }


        
    </script>



</html>